/* (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}

/* @media (max-width: 1200px)
(large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* @media (max-width: 1200px)
 (desktops, 992px  and up) */
@media (max-width: 992px) {
    .slider_part {
        top: 40%;
        left: 20%;
    }

}

/* @media (max-width: 1200px) 
 (tablets, 768px and up)*/
@media (max-width: 768px) {
    .slider_part {
        top: 30%;
        left: 15%;
    }

    .slider_head_text h1 {
        font-size: 1.5rem;
    }

    .round_shape {
        height: 80px;
        width: 80px;

    }

}

/* @media (max-width: 1200px) 
 (landscape phones, 576px and up)*/

@media (max-width: 576px) {}